/* Taken from http://www.w3schools.com/howto/howto_css_fixed_menu.asp */

/* The navigation bar */
.menuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.menuItem {
    float: left;
}

.menuItem a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 50px; /* Add a top margin to avoid content overlay */
}